header, main, footer {
	margin-bottom: 20px;

}

.full-width {
	max-width: 960px;
	margin: 0 auto;
}

/* header */

nav a {
	margin-right: 35px;
}

/* catalog */

aside.catalog {
	width: 25%;
}

section.catalog {
	width: 75%;
}

section.catalog {
	margin-left: 25%;
}

#catalog div {
	float: left;
	width: 33%;
}

/* footer */

.contacts {
	float: left;
	width: 50%;
}

.sitemap {
	float: right;
	width: 25%;
}