* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f4f6f7;
	color: #303030;
	font-family: 'Noto Sans', sans-serif;
	margin: auto;
}

main, footer, nav {
	clear: both;
	overflow: hidden;
}

footer {
	background-color: #331A00;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 2.0em;
	margin-left: -2px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	color: #663300;
}

h2 {
	font-size: 1.5em;
	color: #663300;
}

h3 {
	font-size: 1.2em;
	color: #663300;
}

h5 {
	font-size: 1.0em;
}

a {
	text-decoration: none;
	color: 	#303030;
}

.utilities {
	margin-right: 30px;
}

/* navigation */

nav {
	background-color: #996633;
}

nav a, .sitemap a, .utilities a {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: snow;
}

.utilities a {
	color: #303030;
}

.utilities li, nav li {
	display: inline-block;
}

.utilities {
	float: right;
}

.sitemap a, .utilities a {
	font-size: 0.7em;
}

.bread-crumbs {
	padding-top: 15px;
	font-size: 0.85em;
}

.sitemap div {
	float: left;
	width: 50%;
}

footer {
	color: green;
}

footer h5 {
	color: #996633;
}

.contacts p, .sitemap ul {
	margin-top: 10px;
}

.sitemap h5 {
	margin-left: -2px;
}

/* Catalog */

.catalog {
	padding-top: 24px;
}

.catalog > div {
	padding-left: 30px;
	margin-bottom: 20px;
}

.catalog img {
	width: 100%;
}

.catalog h2 {
	margin-left: -1px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.catalog p {
	margin-bottom: 5px;
}

.catalog p:nth-child(even) {
	float: left;
	width: 35%;
}

.catalog p:nth-child(odd) {
	color: green;
}

/* catalog-filter */

.filters {
	float: left;
}

.filters form {
	margin-top: 15px;
}

.filters fieldset {
	border: 1px solid #ddd;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 10px;
	padding-bottom: 5px;
}

.filters legend {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #996633;
}

.filters input {
	display: inline-block;
	margin-bottom: 10px;
}

.filters input:hover {
	cursor: pointer;
}

.submit {
	font-size: 1.2em;
}